{
  "parser": "babel-eslint",
  "parseOptions": {
    "ecmaVersion": 6,
    "sourceType": [ "script", "module", "node" ]
  },
  "env" : {
    "browser": true,
    "node": true,
    "es6": true
    },
  "rules": {
    "semi": [ 2, "never" ],
    "space-before-blocks": [ 2, "always" ]
  }
}
